extends layout

block title
  | Products

block content
  h1 Assignments? Consider them handled. 
  
  .products-grid
    each product in products
      .product-card
        h3= product.name
        p Category: #{product.category.charAt(0).toUpperCase() + product.category.slice(1)}
        p Type: #{product.type}
        .price-bubble $#{product.price}
        a(href=`/products/${product.name}`) View Details →