extends layout

block title
  | #{product.name}

block content
  h1= product.name
  
  .product-detail
    p
      strong Category:
      span= product.category

    p
      strong Type:
      span= product.type

    p
      strong University:
      span= product.university

    p
      strong Course Level:
      span= product.courseLevel

    p
      strong Format:
      span= product.format

    p
      strong Professor Style:
      span= product.professorStyle

    p
      strong Price:
      span $#{product.price}

    a.button(href="/products") ← Back to Products